@font-face {
    font-family: ptarmi;
    src: url(font/vikingsquad.ttf);
    
}

* {
    font-family: 'ptarmi';
    text-align: center;
    font-size: 105%;
}

body{
    padding-top: 2% ;
    margin-top: 5%;
}

.BackIMG{
    /* background img */
    background-image:url("binary_01.gif");

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 0;
    display: block;
    background-size: cover;


    width: 100%;
    height: 100%;

    /* Blur system */
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}



.WhiteBack {
    float: left ;
    background-color: white;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    
    border: 5px solid black;
    padding: 3%;
    margin-left: 40%;
    margin-right: 30%;

    z-index: 1;
}

.imgTopLeft{
    float: left;
    background-image: url("./logo/FOXY-C.png");
    
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0px;
    display: block;
    background-size: cover;

    /* Scale */
    height: 100%;
    width: 100%;
    max-width: 275px;
    max-height: 275px;

    margin-top: 2%;
    margin-left: 3%;
}