@font-face {
    font-family: ptarmi;
    src: url(ptarmi.ttf);
}

* {
    font-family: 'ptarmi';
    text-align: center;
}

body{
    padding-top: 2% ;
    margin-top: 5%;
}

.BackIMG{
    /* background img */
    background-image:url("binary_01.gif");

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 0;
    display: block;
    background-size: cover;


    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

table{
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;
    border: 2px solid black;
}

thead{

}

td,th {
    text-align: center;
    border: 2px solid black;
    width: 30%;
}

/* <tr class="tr_h"> */
#tr_h{
   
    
}

tbody{

}

/* <tr class="tr_b"> */ 
#tr_b{
    
}

.WhiteBack {
    float: left ;
    background-color: white;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    
    border: 5px solid black;
    padding: 3%;
    margin-left: 40%;
    margin-right: 30%;

    z-index: 9999;
}

.imgTopLeft{
    float: left;
    background-image: url("./logo/FOXY-C.png");
    
    z-index: 9999;
    position: fixed;
    left: 0px;
    top: 0px;
    display: block;
    background-size: cover;

    /* Scale */
    height: 100%;
    width: 100%;
    max-width: 275px;
    max-height: 275px;

    margin-top: 2%;
    margin-left: 3%;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }